services:
  te-net-lib-dev:
    image: ghcr.io/yifen9/te-net-lib-dev
    build:
      context: ..
      dockerfile: Dockerfile.dev
    container_name: te-net-lib-dev
    working_dir: /workspace
    volumes:
      - "..:/workspace"
    command: >
      bash -lc "
        just init &&
        exec sleep infinity
      "
